<h2>Inscription à une RIC</h2>

<ul>
    <li>Prénom : {{data.name}}</li>
    <li>Nom : {{data.lastname}}</li>

    <br/>
    {% if data.prescribingStructure == 'en direct'  %}

        <li>Type de candidature : en direct</li>

    {% else %}

        <li>Type de candidature : prescrite</li>
        <li>Structure prescriptrice : {{data.prescribingStructure}}</li>
        <li>Conseiller(ère) : {{data.prescriber}}</li>   
    {% endif %}
    
    <br/>
    <li>Date de naissance : {{data.birthDate | date("d/m/Y")}}</li>
    <li>Lieu de naissance : {{data.birthCity}}</li>
    <br/>
    <li>Dernière classe fréquentée : {{data.schoolLevel}}</li>
    <li>Diplôme : {{data.grade}} (
        {% if data.isGot %}
        obtenu
        {% else %}
        non obtenu
        {% endif %}        
    )</li>
    <br/>
    <li>Adresse: {{data.adress}}</li>
    <li>Code postal: {{data.zipCode}}</li>
    <li>Ville: {{data.city}}</li>
    <li>email : {{data.mail}}</li>
    <li>Téléphone : {{data.phone}}</li>
    <li>RIC choisie : {{data.ricDate}}</li>
    
</ul>

{% if data.message is not empty %}
    <p><strong>Message : </strong></br> {{data.message | nl2br }}</p>
{% endif %}
